.Main-background {
  /* Active */

  position: absolute;
  box-sizing: relative;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;

  background: #f5f5f5;
  border-radius: 10px;
}

.Outer-background {
  /* tenzies */

  position: absolute;
  box-sizing: relative;
  width: 40%;
  height: 75%;
  left: 30%;
  top: 10%;

  background: #0b2434;
}

.Grid-background {
  position: absolute;
  width: 100%;
  height: 25%;
  left: 10%;
  top: 45%;
}

.Grid {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -6%;
  top: -30%;
  display: grid;

  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  /* grid- */
  column-gap: 1%;
  row-gap: 35%;
  /* grid-template-rows: 50%; */
}

.Die {
  position: relative;
  width: 80%;
  height: 100%;
  top: 5%;
  left: 5%;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 1em;
}

.Number {
  position: absolute;
  text-align: center;
  left: 30%;
  top: 5%;
}

.Display-background {
  position: absolute;
  top: -150%;
  left: 10%;
  width: 80%;
  height: 300%;
}

.Title {
  position: relative;
  size: 5%;
  left: 30%;
  top: 0%;
  font-size: 300%;
}

.Display-rule {
  position: relative;
  font-size: 160%;
  text-indent: -6%;
  top: 5%;
  left: 5%;
}

.Roll-button {
  position: absolute;
  width: 20%;
  height: 50%;
  background: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  left: 30%;
  top: 120%;
}

.Roll {
  position: relative;
  text-align: center;
  font-size: 400%;
}
